<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="init.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
	<testsuites>
	  <testsuite name="Unit">
	    <directory suffix="Test.php">Ulink</directory>
	  </testsuite>
	</testsuites>	  
</phpunit>